@page
@model JordnærCase2023.Pages.Members.MemberPageModel
@{
    ViewData["Title"] = "";
}

<div>
    <div style="display:flex">
        <div>
            <img src="~/Images/Members/@Model.Member.Image" class="rounded-circle" width="150" height="150" />
        </div>
        <div>
            <h2>@Model.Member.Name</h2>
            <h6>@Model.Member.Email</h6>
            <h6>@Model.Member.Phone</h6>


            @*
                <div style="display:flex">
                    foreach(VagtType item in VagtTyper)
                    {
                        <div style="display:flex">
                            <div style="background-color:tomato; height:10px; min-width:10px; border-radius:50%"></div>
                            <div>@item.Name</div>
                        </div>
                    }
                </div>
            *@

        </div>
    </div>

    <div></div>
</div>
