@page
@model JordnærCase2023.Pages.Shifts.JoinShiftModel
@{
    ViewData["Title"] = "Join Shift";
}

<h1>Join Shift</h1>

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div class="form-group">
@*                <label asp-for="@Model.ShiftJoin.MemberID" class="control-label"></label>
                <input asp-for="@Model.ShiftJoin.MemberID" class="form-control" />*@
            </div>
        </form>
    </div>
</div>

